## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.sln.ide/
*.VC.db
*.VC.opendb

## Rider
.idea/
*.sln.iml

## macOS
.DS_Store

## dotnet
*.nupkg
*.zip
*.exe